<div class="body-formulario">
  <h1>Recuperar Senha</h1>
  <h2>Código de segurança enviado para o email abaixo:</h2>
  <h3>{{email}}</h3>

  <form action="" class="formulario">
    <label for="codigo-de-seguranca" class="label label-codigo-de-seguranca">Código de Segurança</label>
    <input type="text" placeholder="_ _ _ _ _ _" id="codigo-de-seguranca" class="input input-codigo-de-seguranca">

    <label for="senha" class="label label-senha">Nova Senha</label>
    <input type="password" placeholder="digite sua nova senha" id="senha" class="input input-senha">

    <label for="senha" class="label label-senha">Confirmar Nova Senha</label>
    <input type="password" placeholder="confirme sua nova senha" id="senha" class="input input-senha">

    <button class="button">Enviar</button>
  </form>

  <a href="\recuperar-senha" class="link esqueceu-minha-senha">Reenviar códio de segurança</a>
  <a href="\login" class="link login">Fazer Login</a>

</div>
