<div class="body-contato">
  <div class="body-content-video">

    <div class="body-content">

      <div class="bloco-informacao">
        <h1>Quem Somos</h1>
        <p>lkajdfladhkshdkfh ksdhkfjhsd ksjhdk sjhdhhdghsd shdghjgdh hjgfhjdg fh gdshgf dhgf hdgfhj gf hdg fhg dhgf hdgf hgdhfghjdgfhg hghdfghdghg hdghfgh </p>
      </div>

      <div class="bloco-informacao">
        <h1>O que fazemos</h1>
        <p>lkajdfladhkshdkfh ksdhkfjhsd ksjhdk sjhd</p>
      </div>

      <div class="bloco-informacao">
        <h1>Contato</h1>
        <p>lkajdfladhkshdkfh ksdhkfjhsd ksjhdk sjhd</p>
      </div>

    </div>

    <div class="body-video" >

      <iframe width="450" height="280" src="https://www.youtube.com/embed/j_F0cz0em04"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>

  </div>

  <div class="body-voltar-login">
    <a href="\login">Login</a>
  </div>


</div>
