//color
//login
$color-letter-login-lght: rgb(241, 241, 249); /* quando for fazer alteracao de cor, deixa o original comentado*/
$color-button-login: rgb(53, 53, 77);
$color-background-login: aquamarine;

//home
$color-background-home: aquamarine;
$color-background-search-container: #f1f1f1;
$color-background-search-buttons: #6200ea;
$color-search-icon: white;
$color-search-input-focus: #fff;
$color-search-button-hove: #3700b3;
$color-button-filter-text: white;
$color-button-situacao-text: white;
$color-polegar: #6200ea;
$color-cabecario-table: #a19e9e;
$color-linha-table-alternada: #f9f9f9;
$color-linha-table-hover: rgb(145, 145, 189);
$color-icon-table: rgb(87, 16, 231);
$color-background-container-situacao: white;
$color-disabled-text: red;
$color-background-button-checkbox-inicial: #6200ea;
$color-background-button-checkbox-final: #3700b3;
$color-border-select: #6200ea;
$color-background-select: #f9f9f9;
$color-text-select: #333;
$color-simobolo-select: #6200ea;
$color-border-button-select: #3700b3;
$color-background-container-modal: white;
$color-background-button-encerrar: #4CAF50;
$color-background-button-encerrar-hover: #45a049;
$color-background-button-cancelar: #f44336;
$color-background-button-cancelar-hover: #d32f2f;
$color-text-button-modal: white;
$color-text-titulo-modal: red;

//cadastro
$color-border-bottom-tabs: #ccc;
$color-background-tab-ativa: #6200ea;
$color-text-tab-ativa: white;
$color-border-tab-ativa: #6200ea;
$color-background-tab-hover: #3700b3;
$color-text-tab-hover: white;
$color-background-conteudo: #89baff;
$color-border-conteudo: #ccc;
//cadastro-alterar-senha
$color-background-btn-alterar-senha: #3700b3;
$color-text-btn-alterar-senha:  white;
//cadastro-empresa
$color-border-barra-de-rolagem:  #f1f1f1;
$color-background-container-email:  #ffffff;
$color-border-container-email:  #e0e0e0;
$color-btn-excluir-email:  #f44336;



$color-erro: rgba(212, 17, 17, 0.827);
$color-sucesso: rgba(17, 212, 88, 0.827);
$color-processando: rgba(212, 202, 17, 0.827);
$color-nao-processa: rgba(109, 95, 95, 0.827);
$color-pendente: rgba(221, 215, 215, 0.827);
