//color
$color-letter-login-lght: rgb(241, 241, 249);
$color-button-login: rgb(53, 53, 77);
$color-background-login: aquamarine;
$color-erro: rgb(176, 10, 10);
$color-background-home: aquamarine;



$color-erro: rgba(212, 17, 17, 0.827);
$color-sucesso: rgba(17, 212, 88, 0.827);
$color-processando: rgba(212, 202, 17, 0.827);
$color-nao-processa: rgba(109, 95, 95, 0.827);
$color-pendente: rgba(221, 215, 215, 0.827);
