
<div class="body-formulario">

  <form action="" class="formulario">
    <label for="login" class="label label-login">Login</label>
    <input type="text" placeholder="digite seu login" id="login" class="input input-login">

    <label for="senha" class="label label-senha"></label>
    <input type="password" placeholder="digite sua senha" id="senha" class="input input-senha">

    <button class="button">Enviar</button>
  </form>

  <a href="xxxxxxQUI VOU MUDARXXXXX" class="link esqueceu-minha-senha">Esqueceu sua senha</a>
  <a href="xxxxxxQUI VOU MUDARXXXXX" class="link criar-login">Criar Login</a>

</div>
