<div class="body-cadastro">
  <div class="tabs">
    <!-- Abas -->
    <div class="tab" (click)="selecionarAba('aba1')" [class.active]="abaAtiva === 'aba1'">Alterar Senha</div>
    <div class="tab" (click)="selecionarAba('aba2')" [class.active]="abaAtiva === 'aba2'">Cadastro Empresa</div>
    <div class="tab" (click)="selecionarAba('aba3')" [class.active]="abaAtiva === 'aba3'">Cadastro Usuário</div>
    <div class="tab" (click)="selecionarAba('aba4')" [class.active]="abaAtiva === 'aba4'">Cadastro Cliente</div>
  </div>

  <div class="conteudo" *ngIf="abaAtiva === 'aba1'">
    <app-alterar-senha></app-alterar-senha>
  </div>

  <div class="conteudo" *ngIf="abaAtiva === 'aba2'">
    <app-empresa></app-empresa>
  </div>

  <div class="conteudo" *ngIf="abaAtiva === 'aba3'">
    <app-usuario></app-usuario>
  </div>

  <div class="conteudo" *ngIf="abaAtiva === 'aba4'">
    <app-cliente></app-cliente>
  </div>

</div>
