@import "../../CSS/app.scss";

.body-cadastro {
  background: $color-background-home;
  width: 95vw;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  border-bottom: 2px solid $color-border-bottom-tabs;
  margin-bottom: 10px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: $color-background-tab-ativa;
  color: $color-text-tab-ativa;
  border: 1px solid $color-border-tab-ativa;
}

.tab:hover {
  background-color: $color-background-tab-hover;
  color: $color-text-tab-hover;
}

.conteudo {
  background-color: $color-background-conteudo;
  border: 1px solid $color-border-conteudo;
  border-radius: 5px;
  flex-grow: 1;
}






