<div class="body-home">
    <div class="filtro">

      <div class="input">
        <div class="search-container">
          <input type="text" placeholder="Pesquise por nome" class="search-input"  (input)="filtraEmpresaPorNome($event)">
          <button class="search-button"><mat-icon class="search-icon">search</mat-icon></button>
        </div>
      </div>

      <div>
        <label class="label-select" for="competencias"></label>
        <div class="custom-select">
          <select id="competencias" name="competencias" [(ngModel)]="competenciaSelecionada">
            <!-- Use *ngFor para iterar sobre as competências -->
            <option *ngFor="let competencia of competencias" [value]="competencia.valor">
              {{ competencia.texto }}
            </option>
          </select>
        </div>
      </div>

      <div class="ordenação">
        <button class="button-filter" (click)="ativarSituacao()" (click)="$event.stopPropagation()">Situação</button>
      </div>

    </div>




  <div class="content">

    <table>
      <thead>
        <tr>
          <th>CNPJ</th>
          <th>Nome</th>
          <th>Enviar</th>
          <th>Editar</th>
          <th>Agendar</th>
          <th>Situação</th>
          <th>Email</th>
          <th>Guia</th>
          <th>Encerramento</th>
          <th>Aceites</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresasFront">
          <td> {{empresa.cnpj}}</td>
          <td> {{empresa.nome}}</td>
          <td> <button (click)="abrirModal(empresa)" mat-icon-button aria-label="Ícone de exemplo" class="button-icon"><mat-icon>send</mat-icon></button></td>
          <td> <button (click)="editarEmpresa(empresa)"mat-icon-button aria-label="Ícone de exemplo" class="button-icon"><mat-icon>edit</mat-icon></button></td>
          <td> <button (click)="abrirModalAgendamento(empresa)"mat-icon-button aria-label="Ícone de exemplo" class="button-icon"><mat-icon>calendar_month</mat-icon></button></td>
          <td> <button [attr.data-status]="empresa.situacao" >{{empresa.situacao}}</button></td>
          <td> <button [attr.data-status]="empresa.email">{{empresa.email}}</button></td>
          <td> <button [attr.data-status]="empresa.guia">{{empresa.guia}}</button></td>
          <td> <button [attr.data-status]="empresa.encerramento">{{empresa.encerramento}}</button></td>
          <td> <button [attr.data-status]="empresa.aceites">{{empresa.aceites}}</button></td>
        </tr>
      </tbody>
    </table>

  </div>


  <div *ngIf="showContainerSituacao" class="central-container">
    <div class="content-situacao">

      <div *ngFor="let situacao of situacoes">
        <input
          type="checkbox"
          [id]="situacao"
          [value]="situacao"
          (change)="onCheckboxChange($event)"
          [checked]="situacoesSelecionadas.includes(situacao)"
          >
        <label [for]="situacao" [class.disabled]="!isCheckboxEnabled(situacao)">{{ situacao }}</label>
      </div>

      <button class="checkbox-button" (click)="desativarSituacao()">Fechar</button>
    </div>
  </div>


<!-- Modal container para iniciar encerramento -->
<div *ngIf="modalAberto" class="modal-overlay">
  <div class="modal-container">
    <h2 class="titulo-modal-encerramento">Iniciar o encerramento?</h2>

    <p class="margin-bottom"><strong class="strong">Competência:</strong> {{ competenciaSelecionada }}</p>
    <p class="margin-bottom"><strong class="strong">Empresa:</strong> {{ nomeEmpresa }}</p>
    <p class="margin-bottom"><strong class="strong">CNPJ:</strong> {{ cnpjEmpresa }}</p>

    <div class="modal-buttons">
      <button class="btn-encerrar" (click)="encerrar()">Encerrar</button>
      <button class="btn-cancelar" (click)="fecharModal()">Cancelar</button>
    </div>
  </div>
</div>

<div *ngIf="modalAbertoDoQueNaoPodeEncerrar" class="modal-overlay">
  <div class="modal-container">
    <h2 class="titulo-modal-encerramento titulo-erro">{{ 'A empresa está com a situação ' + situacaoEmpresa + ' por isso não po ser encerrada'}} </h2>

    <p class="margin-bottom"><strong class="strong">Competência:</strong> {{ competenciaSelecionada }}</p>
    <p class="margin-bottom"><strong class="strong">Empresa:</strong> {{ nomeEmpresa }}</p>
    <p class="margin-bottom"><strong class="strong">CNPJ:</strong> {{ cnpjEmpresa }}</p>

    <div class="modal-buttons">
      <button class="btn-cancelar" (click)="fecharModalDoQueNaoPodeEncerrar()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal container para iniciar agendamento -->
<div *ngIf="modalAgendamento" id="scheduleModal" class="modal-overlay">
  <div class="modal-container">
    <h2 class="titulo-modal-encerramento">Agendar Empresa</h2>
    <p class="margin-bottom"><strong class="strong">Competência:</strong> {{ competenciaSelecionada }}</p>
    <p class="margin-bottom"><strong class="strong">Empresa:</strong> {{ nomeEmpresaParaAgendamento }}</p>
    <p class="margin-bottom"><strong class="strong">CNPJ:</strong> {{ cnpjEmpresaParaAgendamento }}</p>
    <form id="scheduleForm">
      <label for="date"><strong class="strong">Escolha uma data: </strong></label>
      <input type="date" id="date" name="date" required [(ngModel)]="dataParaAgendamento">
      <p></p>
      <label for="time"><strong class="strong">Escolha uma hora: </strong></label>
      <input type="time" id="time" name="time" required [(ngModel)]="horaParaAgendamento">
      <div class="modal-buttons">
        <button class="btn-cancelar" type="button" (click)="fecharModalAgendamento()">Cancelar</button>
        <button class="btn-encerrar" type="submit" (click)="agendarEmpresa()">Agendar</button>
      </div>
    </form>
  </div>
</div>




</div>
