<div class="body-cadastro-cliente">

  <div class="container-list-cliente">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td (click)="selecionaCliente(cliente)"> {{cliente.nome}}</td>
        </tr>
      </tbody>
    </table>
  </div>

   <div class="container-informacao-cliente">
    <div class="formulario-container" [formGroup]="formularioCliente">

      <!-- Lado Esquerdo - Inputs -->
      <div class="formulario-esquerdo">

        <mat-form-field appearance="outline" class="full-width custom-input" >
          <mat-error *ngIf="formularioCliente.get('nome')?.hasError('required')">
            O nome é obrigatório.
          </mat-error>
          <mat-label>Nome</mat-label>
          <input #nomeInput matInput formControlName="nome" placeholder="Insira o nome" class="input-informacao">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-error *ngIf="formularioCliente.get('cnpj')?.hasError('required')">
            O CNPJ é obrigatório.
          </mat-error>
          <mat-error *ngIf="formularioCliente.get('cnpj')?.hasError('minlength')">
            O CNPJ deve ter 14 caracteres.
          </mat-error>
          <mat-label>CNPJ</mat-label>
          <input
          matInput formControlName="cnpj"
          placeholder="Insira o CNPJ"
          class="input-informacao"
          mask="00.000.000/0000-00"
          (keypress)="permitirSomenteNumerosFormularioCliente($event)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-error *ngIf="formularioCliente.get('emailUsuarioMaster')?.hasError('required')">
            O e-mail é obrigatório.
          </mat-error>
          <mat-error *ngIf="formularioCliente.get('emailUsuarioMaster')?.hasError('email')">
            O e-mail inserido não é válido.
          </mat-error>
          <mat-label>E-mail do usuario master</mat-label>
          <input
          matInput formControlName="emailUsuarioMaster"
          placeholder="Insira o seu e-mail"
          class="input-informacao">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width custom-input" >
          <mat-error *ngIf="formularioCliente.get('nomeUsuarioMaster')?.hasError('required')">
            O nome é obrigatório.
          </mat-error>
          <mat-label>Nome do usuário master</mat-label>
          <input #nomeInput matInput formControlName="nomeUsuarioMaster" placeholder="Insira o nome" class="input-informacao">
        </mat-form-field>
     </div>

        <!-- Lado Direito - Checkboxes -->
      <div class="formulario-direito" [formGroup]="formularioCliente">
        <mat-checkbox formControlName="isCoordenadorUsuarioMaster">Usuário master é coordenador ?</mat-checkbox>
        <mat-checkbox formControlName="ativo">Cliente ativo ?</mat-checkbox>
      </div>
    </div>

    <div class="formulario-botoes">
      <button mat-raised-button color="primary" (click)="novoFormularioCliente()">Novo</button>
      <button mat-raised-button color="primary" (click)="editarFormularioCliente()">Editar</button>
      <button mat-raised-button color="primary" (click)="salvarCliente ()" [disabled]="naoPodeSalvarCliente()">Salvar</button>
      <button mat-raised-button color="warn" (click)="onDeleteCliente()">Excluir</button>
      <button mat-raised-button color="warn" (click)="cancelarCliente()" [disabled]="botaoDesabilitarCanselarCliente">Cancelar</button>
    </div>
  </div>

</div>
