@import "../../../CSS/app.scss";

.password-update-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.password-card {
  padding: 20px;
  width: 400px;
  max-width: 100%;
}

.full-width {
  width: 100%;
}

mat-card-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#btn-alterar-senha {
  background-color: $color-background-btn-alterar-senha;
  color:  $color-text-btn-alterar-senha;
}

#title-alterar-senha {
  font-weight: bolder;
}
